body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:328px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:219px;
  height:30px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:395px;
  height:30px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:391px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:83px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:136px;
  height:83px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:83px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:30px;
  width:219px;
  height:83px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:83px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:30px;
  width:395px;
  height:83px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:150px;
  height:83px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:210px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:136px;
  height:210px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:210px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:113px;
  width:219px;
  height:210px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:210px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:113px;
  width:395px;
  height:210px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:210px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:113px;
  width:150px;
  height:210px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
